.settings-list {
    padding: 0px 10px;
}

.settings-setting {
    padding: 20px 0px;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-setting i {
    margin-right: 15px;
    font-size: 25px;
}

.settings-setting__column:last-child {
    opacity: 0.3;
}